#common
**/*.DS_Store
**/*.ipynb_checkpoints/
**/__pycache__
out/

gmail.py

#SBM datasets
benchmarking_gnns/data/SBMs/*.pkl

#Superpixels datasets
benchmarking_gnns/data/superpixels/*.pkl
benchmarking_gnns/data/superpixels/*.zip

#ZINC dataset
benchmarking_gnns/data/molecules/*.pkl
benchmarking_gnns/data/molecules/*.pickle
benchmarking_gnns/data/molecules/*.zip

#TSP
benchmarking_gnns/data/TSP/*.txt
benchmarking_gnns/data/TSP/*.pkl
benchmarking_gnns/data/TSP/*.zip
benchmarking_gnns/data/TSP/pyconcorde/

# TUs
benchmarking_gnns/data/TUs/*.index

# TUs
benchmarking_gnns/data/molecules/*.index

**.swp

